<app-navbar></app-navbar>
<router-outlet></router-outlet>
<app-footer></app-footer>
<!-- structured-data.component.html -->
<script type="application/ld+json">
    {
      "@context": "https://emical.net/",
      "@type": "Financial",
      "headline": "EMI Calcaulator",
      "description": "EMI Calculator for home loan, car loan and personal loans. Get accurate loan repayment estimates based on loan amount, interest rate, Prepayment emi/Extra EMI and tenure.",
      "datePublished": "2023-08-17",
      "author": {
        "@type": "Person",
        "name": "Techie Guru7"
      }
    }
    </script>
    
